# Archivos compilados
*.class

# Archivos de log
*.log

# Carpetas de salida de compilación
/bin/
/out/
/target/

# Archivos específicos de IntelliJ IDEA
.idea/
*.iml
*.iws

# Archivos específicos de Eclipse
.classpath
.project
.settings/

# Archivos específicos de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
